<div class="post">
  <div class="post-author-name">{{post.createdBy.username}}</div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo" [ngStyle]="{'background-image': post.createdBy. photoUrl ? 'url(' + post.createdBy. photoUrl+ ')' : 'url(' + defaultProfit + ')'}"></div>

  <div class="post-date">{{post.createdAt | date:'short'}}</div>

  <!-- TIPS: [ngClass]="{liked: [expression booléenne]}" -->
  <div class="post-user-like">
    <i nz-icon nzType="heart" [nzTheme]="liker ? 'fill' : 'outline'" (click)="like()" ></i>
  </div>

  <p class="post-text">
    <!-- Afficher le texte du poste uniquement-->
     {{ content}}
  </p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->

      <app-post-attachement-image [element]="element" *ngIf="element.type === 'image'"></app-post-attachement-image>

    <app-post-attachement-video [element]="element" *ngIf="element.type === 'video'"></app-post-attachement-video>

  <app-post-attachement-audio [element]="element" *ngIf="element.type === 'audio'"></app-post-attachement-audio>

  <app-post-attachement-youtube [element]="element" *ngIf="element.type === 'youtube'"></app-post-attachement-youtube>


  </div>
  <div #anchor></div>
</div>
